
<ul class = "thumbnails">	
	<% i=0 %>
	<% @random_user.each do |user| %>
	
	<li class = "span4" id="<%="#{i}"%>">
		<div class = "thumbnail">
			<div class = "imgcontainer">
				<img class = "image2" src ="assets/nameis.png"/>
				<img class = "image1" src = "<%=user.avatar.url(:thumb) %>" >
				</div>
			<p class = "username"><%= user.name %></p>
			<% wrong_users = User.where("users.id NOT IN (?)", [user]).sample(2) %>
			<% wrong_users.map(&:first_name).each do |name| %>
				<h4 class ="wrongname"><%= name %></h4>			
			<% end %>
			<h4 class="realname"><%= user.name %></h4>
			<% i+=1 %> 	
			<% end %>
		</div>
	</li>
</ul>

<!--all user names in array -->

<%#= User.all.inspect %>  <!-- this is to debug -->
<%# User.all.map{|u| u.first_name}.each do |user|%>  <!-- this is same as & shortcut below -->
<%= @alluser = User.all.map(&:first_name)%> <!--.map puts each name into an array -->
<% User.all.map(&:first_name).each do |name|%>
<%= name %>
<% end %>
<% @user = User.first %>
<% @filterusers = User.where("users.id NOT IN (?)", [@user]) %>
<%=@filterusers.sample(2)%>


