
<ul class = "thumbnails">	
	<% i=0 %>
	<% @random_user.each do |user| %>
	
	<li class = "span4" id="<%="#{i}"%>">
		<div class = "thumbnail">
			<img src = "<%=user.avatar.url(:thumb) %>" >
			<p class = "username"><%= user.name %></p>
			<h4 class ="wrongname"><%= Guess.name_selector.name %></h4>
			<h4 class = "wrongname"><%= Guess.name_selector.name %></h4>
			<h4 class="realname"><%= user.name %></h4>
			<% i+=1 %> 	
			<% end %>
		</div>
	</li>
</ul>

<%# for (i=0; i<5; i++) %> 


