<%#= image_tag @user.avatar.url %>
<%#= image_tag @user.avatar.url(:medium) %>
<%= image_tag @user.avatar.url(:thumb) %></br>
<p><%= @user.name%></p>

<p>Below are a list of all your events: </p>
<% @user.events.each do |t|%>
<%= t.title%></br>
<%= link_to "Name These Faces", event_path(t.id)%></br>

<% if @user == current_user %>
	<%= link_to "Leave Event",  :controller => :events,
								:action => 'remove_event_from_user',
								:current_user => @user,
								:event_title => t.title %></br>

	<% end %>
<%end%>



<!-- for testing -->
<br>
<%= @user.events %>



