<%#= image_tag @user.avatar.url %>
<%#= image_tag @user.avatar.url(:medium) %>

<%#= @user.name%>
<div class="row-fluid myevents">
  <div class="span2 myface"><%= image_tag @user.avatar.url(:thumb) %></div>
  <div class="span10"><h1 class = "page_title adj"> My Event Listing</h1></div>
</div>
<div class = "container">
	<ul class = "thumbnails">
		<% @user.events.each do |t|%>
			<li class = "span12 listed">
				<div class = "row-fluid">
					<div class = "span12">
						<div class = "row-fluid">
							<div class = "span3">
								<div class = "event_icon">
									<div class = "cont">
										<img class = "event_avatar" src= "<%= t.avatar%>">
									</div>
								</div>
							</div>
							<div class = "span5">
								<p class = "event_title"><%= t.title %></p>
								<p class = "event_description"><%= t.description %></p>
							</div>
							<div class = "row-fluid">
								<div class = "span2">
									<%= link_to "Play", event_path(t.id), class: "landing-button" %>
								</div>
								<div class = "span2">
								<% if @user == current_user %>
									<%= link_to "Remove",  {:controller => :events,
																:action => 'remove_event_from_user',
																:current_user => @user,
																:event_title => t.title}, class: "landing-button"%>
								<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
</div>	

<!-- THis is the linkin card for users -->
<!-- <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/reidhoffman" data-format="inline"></script>
 -->
<!-- for testing -->
<%#= @user.events %>



