<li class = "span4">
	<div class = "thumbnail">
		<div class = "imgcontainer">
			<div class = "border">
				<a rel="tooltip" title="take a guess!" class = "bubble">
					<img class = "faceis desaturate" src = "<%=user.avatar.url(:medium)%>"/>
				</a>
			</div>
		</div>
		<div class = "namespacer">
			<div class="namelist">
				<% x = rand(3) %>
				<% if x == 0 %>
					<% wrong_users = User.where("id NOT IN (?)", [user]).sample(2) %>
					<% wrong_users.map(&:first_name).each do |name| %>
						<h4 class ="picknames wrongname"><%= name %></h4>			
					<% end %>
					<h4 class="picknames realname"><%= user.firstname %></h4>
				<% elsif x == 1 %>
					<h4 class="picknames realname"><%= user.firstname %></h4>
					<% wrong_users = User.where("id NOT IN (?)", [user]).sample(2) %>
					<% wrong_users.map(&:first_name).each do |name| %>
						<h4 class ="picknames wrongname"><%= name %></h4>		
					<% end %>
				<% else %>
					<% wrong_users = User.where("id NOT IN (?)", [user]).sample(1) %>
					<% wrong = User.where("id NOT IN (?)", [user, wrong_users[0]]).sample(1) %>
					<h4 class ="picknames wrongname"><%= wrong_users[0].firstname %></h4>
					<h4 class="picknames realname"><%= user.firstname %></h4>
					<h4 class ="picknames wrongname"><%= wrong[0].firstname %></h4>
				<% end %>
			</div>
		</div>
	</div>
</li>