<h3>These are All the Events</h3>

<h1><%= @current_user.name %></h1>

<% @events.each do |t|%>
<%= t.title %></br>
<%= image_tag t.avatar.url(:thumb) %></br>
<%= link_to "Name These Faces", event_path(t.id) %></br>

<%= link_to "Add to My Events", :controller => :events, 
							:action => 'add_event_to_user', 
							:current_user => @current_user,
							:event_title => t.title %></br>


<% end %>
