<h1 class = "page_title">Event Listing</h1>
<script type="text/javascript">
	events = <%=raw @events.to_json %>;
</script>
<div class="search" ng-controller="SearchController">
	<%# debug @events.to_json %>
	Search: <input ng-model = "searchText">	
	<div id="searchTextResults">
	<div ng-repeat="event in events | filter:searchText">
		<div>{{event.title}}</td>
		<div>{{event.description}}</td>
	</div>
	</div>
</div>


<div class = "container">
	<ul class = "thumbnails">
		<% @events.each do |t|%>
			<li class = "span12 listed">
				<div class = "row-fluid">
					<div class = "span12">
						<div class = "row-fluid">
							<div class = "span3">
								<div class = "event_icon">
									<div class = "cont">
										<img class = "event_avatar" src= "<%= t.avatar %>">
									</div>
								</div>
							</div>
							<div class = "listed-inner">
								<p class = "event_title"><%= t.title %></p>
								<p class = "event_description"><%= t.description %></p>
							</div>
							<ul class = "listed-action">
								<li class = "action left">
									<%= link_to "", event_path(t.id), class: "action play" %>
								</li>
								<li class = "action right">
									<% if logged_in? %>
									<%= link_to "Add", {:controller => :events, 
															:action => 'add_event_to_user', 
															:event_title => t.title}, class: "action remove", remote: true %>
									<% end %>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
</div>

<script>
	$(window).load(function(){
	 $('.cont').find('img').each(function(){
	  var imgClass = (this.width/this.height > 1) ? 'wide' : 'tall';
	  $(this).addClass(imgClass);
	 })
	})
</script>