<h3>These are All the Events</h3>

<h1><%= @current_user.name %></h1>

<ul class = "thumbnails">
	<% @events.each do |t|%>
		<li class = "span12">
			<div class = "row-fluid">
				<div class = "span12">
					<div class = "row-fluid">
						<div class = "span4">
							<img class = "event_avatar" src="<%= t.avatar.url(:thumb) %>">
						</div>
						<div class = "span5">
							<p class = "event_title"><%= t.title %></p>
						</div>
					</div>
						<%= link_to "Name These Faces", event_path(t.id) %></br>
						<%= link_to "Add to My Events", :controller => :events, 
													:action => 'add_event_to_user', 
													:current_user => @current_user,
													:event_title => t.title %></br>
				</div>
			</div>
		</li>
	<% end %>
</ul>
