<h3>These are All the Events</h3>

<ul class = "thumbnails">
	<% @events.each do |t|%>
		<li class = "span12 listed">
			<div class = "row-fluid">
				<div class = "span12">
					<div class = "row-fluid">
						<div class = "span4">
							<div class = "event_icon">
								<div class = "cont">
									<img class = "event_avatar" src= "<%= t.avatar %>">
								</div>
							</div>
						</div>
						<div class = "span5">
							<p class = "event_title"><%= t.title %></p>
							<p class = "event_description"><%= t.description %></p>
						</div>
						<div class = "span1">
							<button class=" play btn btn-small" type="button"><%= link_to "Name These Faces", event_path(t.id)%></button></br>
						</div>
						<div class = "span1">
							<button class=" add btn btn-small" type="button"><%= link_to "Add to My Events", :controller => :events, 
														:action => 'add_event_to_user', 
														:current_user => @current_user,
														:event_title => t.title %></button>
						</div>
					</div>
				</div>
			</div>
		</li>
	<% end %>
</ul>


<script>
	$(window).load(function(){
	 $('.cont').find('img').each(function(){
	  var imgClass = (this.width/this.height > 1) ? 'wide' : 'tall';
	  $(this).addClass(imgClass);
	 })
	})
</script>