<!DOCTYPE html>
<html>
<head>
  <title>NameFace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "users" %>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
</head>
<body>
  <div class="container">
    <%= render "/layouts/nav" %>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-error">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= params %>
    <%= yield %>

  </div>
</body>
</html>
